
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="userName">UserName</label>
      <input type="text" id="userName" class="form-control" [(ngModel)]="usernameC"  placeholder="UserName"  />
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password</label>
      <input type="password" id="form2Example2" class="form-control" [(ngModel)]="passwordC"  placeholder="Password" />
    </div>
  
 
  
    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4" (click)="login()">Sign in</button>
  
  